.callpage-container {
    .video-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%; 
      overflow: hidden;
      background-color: rgb(70, 69, 69);
    }
}